.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.img-logo{
    height: 100px;
    width: 150px;
}

.header-left{
    display: flex;
}

.header-left>h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
}

.links-top{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.links-top>li{
    padding: 10px;
    font-size: 18px;
}

.card{
    width:200px;
    padding: 5px;
    border:1px solid black;
    margin: 10px;
}
.card>img{
    width:100%;
    height: 200px;
}

.restaurent-cards{
    display: flex;
    flex-wrap: wrap;
}